body {
    text-align: center;

}
.login {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
}

.logo-img {
    width: 1em;
}